<% if flash[:error] %>
	<div class="notice"><%= flash[:error] %></div>
<% end %>


<section class="todoapp">
	<header class="header">
		<h2>Log In</h2>
    <%= form_tag(sessions_path) do %>
    <%= text_field_tag :email, nil, :class => "new-todo", :placeholder => "Enter Email to login" %>
		<%= text_field_tag :password, nil, :class => "new-todo", :placeholder => "Enter password" %>
    <%= submit_tag nil,:style => "display: none" %>
    <% end %>
	</header>



	<footer class="footer">
	</footer>

</section>

<footer class="info">
<p><b>Login with one of the following</b></p>
<a href="/auth/google_oauth2" style='font-size:30px'><i class='fab fa-google icons'></i></a>
<a href="/auth/facebook" style='font-size:30px'><i class='fab fa-facebook icons'></i></a>
<a href="/auth/github" style='font-size:30px'><i class='fab fa-github icons'></i></a>
</footer>
